.add-form h3 {
  font: 20px "Arial-MTB";
  text-align: left;
  margin-left: 1.5em;
}

.section-one,
.section-two,
.section-three {
  margin: 5em 10em;
}

input {
  margin: 0.5em 0;
  width: 90%;
  color: #000;
  background-color: #fff;
  border: #24292e solid 4px;
  padding: 20px 0px 20px 30px;
  font: 20px "Arial-MTB";
  border-radius: 5px;
}

::placeholder {
  color: rgb(106, 106, 106);
}

input:hover,
input:focus,
button:focus {
  outline: none;
}

.add-form button,
.btn {
  padding: 0.7em 2em;
  color: #fff;
  background-color: #24292e;
  font: 25px "Arial-MTB";
  border: #24292e solid 1px;
  border-radius: 5px;
  margin-bottom: 1em;
}

.add-form button:hover,
.btn:hover {
  cursor: pointer;
  color: #24292e;
  background-color: #fff;
  border: #fff solid 1px;
}

.spinner {
  padding: 0 0.5rem 0 0;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes flipIn {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateY(0);
  }
}
